asgiref==3.4.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
cryptography==36.0.0
defusedxml==0.7.1
distlib==0.3.3
dj-database-url==0.5.0
Django==3.2.9
django-allauth==0.47.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.0.0
django-utils-six==2.0
djangorestframework==3.12.4
djongo==1.3.6
filelock==3.4.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.6.4
MarkupSafe==2.0.1
networkx==2.6.3
nmap==0.0.1
numpy==1.21.4
oauthlib==3.1.1
platformdirs==2.4.0
pycparser==2.21
pycryptodome==3.12.0
PyJWT==2.3.0
pymongo==4.0.1
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.2.4
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
whitenoise==5.3.0
