{% load static %}
{% for profile in user_profile %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Hospital Name</th>
            <th>Doctor ID</th>
            <th>Blood Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{profile.name}}</th>
            <td>{{profile.surname}}</td>
            <td>{{profile.hospital_name}}</td>
            <td>{{profile.Doctorname}}</td>
            <td>{{profile.bloodtype}}</td>
            <td><input type="button" value="Delete Row" onclick="SomeDeleteRowFunction(this)"></td>
          </tr>
        </tbody>
      </table>
<script>
    function SomeDeleteRowFunction(btndel) {
    if (typeof(btndel) == "object") {
        $(btndel).closest("tr").remove();
        $.ajax({
        url:"/do_something/",
        type: "POST",
        data: {name: name, age: age},
        success:function(response){},
        complete:function(){},
        error:function (xhr, textStatus, thrownError){
            alert("error doing something");
        }
});
    } else {
        return false;
    }
}
</script>
{% endfor %}