{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
	{%  include 'accounts/navbar.html' %}
	<div class="container-fluid">
    </div>
    <style>
        #map {
            height: 600px;
            width: 100%;
            background-color: black;
            }
        button {
          display: block;
          margin: 30px auto;
          width: 200px;
          height: 50px;
          background-color: #c0392b;
          border: none;
          color: white;
          font: 20px cairo;
          cursor: pointer;
          transition: all .3s linear
            }

        button:hover{
          background-color: red;
          transform: scale(1.1)
            }
        body{
          background-color: #C0C0C0;
        }
    </style>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmCpnbtnFsBdVam7t0QRAv78JUtvIoZj8&callback=initMap&libraries=&v=weekly"
      async
    ></script>
	<script>
    function redirect(url) {
      if (url !== "") {
        if (url.slice(0, 4) === "http") {
          window.location.href = url;
        }
      }
    }
    function AddMarkers(map,data){
      var List_of_List =[];
      for (var key in data) {
        if (data.hasOwnProperty(key)) {    
          var elem=data[key];
          var patient_name="";
          var patient_surname="";  
          var hospital_name="";  
          var len="";
          var lat="";
          var Doctorname="";
          var bloodtype="";
          var tst_list=[];
          for(var key in elem){
            if(key =="patient_name"){
              patient_name=elem[key]
              tst_list.push(patient_name)
            }
            else if(key =="patient_surname"){
              patient_surname=elem[key]
              tst_list.push(patient_surname)
            }
            else if(key =="hospital_name"){
              hospital_name=elem[key]
              tst_list.push(hospital_name)
            }
            else if(key =="lat"){
              lat=elem[key]
              tst_list.push(lat)
            }
            else if(key =="len"){
              len=elem[key]
              tst_list.push(len)
            }
            else if(key =="Doctorname"){
              Doctorname=elem[key]
              tst_list.push(Doctorname)
            }
            else if(key =="bloodtype"){
              bloodtype=elem[key]
              tst_list.push(bloodtype)
            }
          }
        }
        List_of_List.push(tst_list)
      }
      for (let i = 0; i < List_of_List.length; i++) {
        const patient = List_of_List[i];
        const marker= new google.maps.Marker({
          position: { lat: patient[3], lng: patient[4] },
          map,
          zIndex: 1,
        });
        attachContentMessage(marker, patient)
      }
    }
		function initMap() {
			const myLatlng = { lat: 41.015137, lng: 28.979530 };
			const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 12,
				center: myLatlng,
			});
			var data = JSON.parse("{{data|escapejs}}");
      AddMarkers(map,data);
		}
    function attachContentMessage(marker, content) {
      let content_patient_name=content[0];
      let content_patient_surname=content[1];
      let content_patient_hospitalname=content[2];
      let content_patient_Doctorname=content[5];
      let content_patient_bloodtype=content[6];
      let content_message=content_patient_name+" \ "+
                          content_patient_surname+" \ "+
                          content_patient_hospitalname+" \ "+
                          content_patient_Doctorname;
    const contentString =
    '<div id="content">' +
    '<div id="siteNotice">' +
    "</div>" +
      '<h3 id="firstHeading" class="thirdHeading">Patient Info</h1>' +
      '<div id="bodyContent">' +
      "<p>"+"Patient's Name : "+content_patient_name+"</p>" +
      "<p>"+"Patient's Surname : "+content_patient_surname+"</p>" +
      "<p>"+"Patient's Hospital Name : "+content_patient_hospitalname+"</p>" +
      "<p>"+"Patient's Doctor Name : "+content_patient_Doctorname+"</p>" +
      "<p>"+"Patient's Blood Type : "+content_patient_bloodtype+"</p>" +
      '<a href="{% url "help" %}">How to Help</a>'
    "</div>" +
    "</div>";
      const infowindow = new google.maps.InfoWindow({
        content: contentString,
      });
      marker.addListener("click", () => {
        infowindow.open(marker.get("map"), marker);
      });
    }
	</script>
	<hr>
  <button onclick ="redirect('http://localhost:8000/submit/')">Submit Blood Request Form !</button>  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{%  include 'accounts/footer.html' %}