{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>First Blood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  .navbardoctorback{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">First Blood</a>
    </div>
    <img  width=400px height=150px src="{% static 'images/logo1.png' %}">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Dashboard</a></li>
      <li class="active"><a href="{% url 'whoweare' %}">WhoWeAre</a></li>
      <li class="active"><a href="{% url 'info' %}">Project Info</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
          <p class="navbardoctorback" >Welcome Back Doctor {{user.username}} !</p>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          <li><a href="{% url 'change_data' %}"><span class="glyphicon glyphicon-user"></span>Doctor Profile</a></span></li>
      {% else %}
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Doctor Register</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Doctor Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
</body>
</html>